
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv

# Local Data
*.sqlite3
*.db
backend/data/radar_history.db

# Logs & Debug
backend/debug_push_send.txt
*.log
backend/debug_*.txt

# IDE
.vscode/
.idea/

# JS
node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store

# User Excludes
*.deb

# Modelos entrenados
training/trained_models/
*.pth